<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>El primer proyecto de Larian Studios se llamó <span class="pre">"The Lady, the Mage and the
        Knight"</span> (La Señora, el Mago
    y el Caballero). Sin embargo, no encontraron ningún editor dispuesto a publicar el juego.</p>
<p>El estudio desarrolló entonces LED Wars, un juego de estrategia publicados por Ionos en 1997.Más
    tarde, "The Lady, the Mage and the Knight" se convirtió en un proyecto de colaboración entre Larian
    Estudios y Attic Entertainment Software.</p>
<p>
    Debido a varios problemas entre los dos estudios de
    desarrollo y su editor, el proyecto fue abandonado en 1999.
</p>
    <a href="/index.html">volver</a>
</body>
</html>