@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/fonts/static/Mulish-BlackItalic.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color--white: white;
  --color--h3: rgb(154, 17, 8);
  --backgroundBody-color: black;
  --backgroundLarianLogo-color: rgba(173, 59, 6, 0.953);
  --LarianMargin-left: 5rem;
  --LarianWidth: 6rem;
  --LarianHeight: 6rem;
  --h1ps1--font-Size: 5rem;
  --footParts--padding: 2rem;
  --h1--font-size: 3rem;
}

@media screen and (max-width: 1024) {
  :root {
    --color--white: white;
    --color--h3: rgb(19, 5, 0);
    --backgroundBody-color: black;
    --backgroundLarianLogo-color: rgba(173, 120, 6, 0.953);
    --LarianMargin-left: 2.5rem;
    --LarianWidth: 3rem;
    --LarianHeight: 3rem;
    --h1ps1--font-Size: 2rem;
    --footParts--padding: 1rem;
    --h1--font-size: 1rem;
    --font-family: "Mulish";
  }
}
h1{
  font-family:var(--font-family);
  font-family: "Mulish";
}

body {
  background-color: var(--backgroundBody-color);
  font-family: "Mulish";
}

.larian {
  background-color: var(--backgroundLarianLogo-color);
  margin-left: var(--LarianMargin-left);
  width: var(--LarianWidth);
  height: var(--LarianHeight);
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: "Mulish";
}

/*doy estilo italic porque la etiqueta pre me da salto de carro*/

/*doy estilos a los section para ir empezando a pintar el html*/
.s1 {
  background: url(/assets/imgs/baldurs.jpg) center/cover;
  height: 73vh;
  /*aqui realizaremos el corte*/
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  position: relative;
  color: var(--color--white);
  font-family: var(--font-family);
}

.s2 {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 5rem;
}

.s3 {
  padding: 1rem;
  width: 100%;
  color: var(--color--white);
  background: #4d4d4d;
  text-align: center;
  font-family: var(--font-family);
  
}
.conteiner-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #4d4d4d;
  font-family: "Mulish";
  
}
@media screen and (max-width: 1100px) {
  .conteiner-cards {
    flex-direction: column; /* Cambiar a column en pantallas más pequeñas */
    max-width: 100%;
    max-height: 100%;
  }
}
:hover[class*="card1"] {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
:hover[class*="card2"] {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
:hover[class*="card3"] {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
:hover[class*="card4"] {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}
.imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-color: var(--color--white);
  background: #fffefe;
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
}
.card1 {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px 0 rgba(249, 48, 48, 0.975);
  background: #706964;
  
}

.contenainer-text {
  color: #000000;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 1rem;

}

.contenainer-p {
  color: #000;
  padding: 1rem;
}

button {
  background: #9e2929;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
}
.ps1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.h1ps1 {
  color: var(--color--white); /*hacer globales las repetidas o las de mas uso*/
  font-size: var(--h1ps1--font-Size);
  font-family: "Mulish";
}

footer {
 background: rgb(33, 33, 33);
 clip-path: polygon(0 4%, 100% 4%, 100% 100%, 0 100%);
}
.feet {
  height: auto;
  padding: 3rem;
  display: flex;
  font-family: "Mulish";
}

li {
  list-style: none;
  margin-right: 5rem;
  display: inline-block; /*Con esto pongo en linea la lista de Li.*/
}

a {
  color: var(--color--white);
  text-decoration: none;
}

h3 {
  color: var(--color--h3);
}
p {
  color: var(--color--white);
}

.feet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.feets-conteiner{
  width: 100%;
  height: 100%;
  text-align: center;
}
.feet2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
}

.f1 {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.f2 {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.f3 {
  width: 100%;
  display: flex;
  flex-direction: column;

  
}
.logos{
  width: 100%;
  margin-top: 3rem;
  padding: 3rem;
}

.h1S3{
  margin: 3rem;
  font-size: 2rem;

}
